@model Listed.UI.Models.Viewmodels.EditListVewmodel

<div class="container">
	<h4>@Model.AnimeName</h4>

	<form asp-action="PostFormData" asp-route-id="@Model.ListItemId">
		<div class="form-group">
			<label for="inputEpisodes">Episodes</label>
			<input type="text" asp-for="@Model.EpisodesWatched" class="form-control" id="inputEpisodes" placeholder="@Model.EpisodesWatched">
			<small class="form-text text-muted">You have seen @Model.EpisodesWatched - @Model.MAX_EPISODES</small>
		</div>
		<div class="form-group">
			<label for="inputRating">Rating</label>
			<input type="text" asp-for="@Model.UserRating" class="form-control" id="inputRating" placeholder="@Model.UserRating">
			<small class="form-text text-muted">Rating should be between 1 - 10</small>
		</div>
		<div class="form-group">
			<select asp-for="@Model.Status" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
				@if (Model.Status == "")
				{
					<option value="" selected>Planning</option>
					<option value="watching">Watching</option>
					<option value="completed">Completed</option>
				}
				else if (Model.Status == "watching")
				{
					<option value="">Planning</option>
					<option value="watching" selected>Watching</option>
					<option value="completed">Completed</option>
				}
				else
				{
					<option value="">Planning</option>
					<option value="watching">Watching</option>
					<option value="completed" selected>Completed</option>
				}
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<a asp-controller="List" asp-action="Index">
		<input type="submit" value="Return" class="btn btn-danger" />
	</a>
</div>
