@model Listed.UI.Models.Viewmodels.AnimeOverviewModel

<div class="container">
	@{

		ViewData["Title"] = Model.AnimeName;

		var imgsrc = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.AnimeCoverArt));
	}

		<div class="row">
			<div class="col">
				<img src="@imgsrc" class="rounded float-end" />

			</div>

			<div class="col">
				<h1>@Model.AnimeName</h1>
				<h5>Episodes: </h5>
			<h6>@Model.AnimeEpisodes</h6>

				<h5>Studio: </h5>
			<a asp-controller="Studio" asp-action="Details" asp-route-id="@Model.StudioId"><h6>@Model.StudioName</h6></a>

			<a asp-controller="Anime" asp-action="AddAnimeToList" asp-route-id="@Model.AnimeId">
					<input type="submit" class="btn btn-primary" value="Add to list" />
				</a>

				<a asp-controller="Anime" asp-action="Index">
					<input type="submit" value="Return" class="btn btn-danger"/>
				</a>
			</div>
		</div>
	}
</div>